.form_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .first_form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba($color: #000000, $alpha: .04);
        padding: 15px 25px;
        border-radius: 16px;
    }

    h2 {
        font-weight: bold;
        text-align: center;
    }
    .emoji {
        font-size: 18px;
    }
    .user_interestring_row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgba($color: #000000, $alpha: .04);
        padding: 15px 10px;
        border-radius: 16px;
        .user_interestring_row_wrapper {
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
            .checkbox {
                padding: 5px 15px;
                border-radius: 16px;
                background: rgba($color: #000000, $alpha: .04);
                transition: all .1s ease-in;
                &:hover {
                    transform: translateY(-2px);
                    background: rgba($color: #000000, $alpha: .045);
                }
            }
        }
    }
}