.sidebar{
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: .85);
  color: #fff;
  height: 100vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: none;
}
  .sidebar_wrapper {
    
    .sidebar_logo {
      img {
        width: 200px;
      }
    }
    .sidebar_menu {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .menu_item a{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 5px 0px;
        transition: all ease-in .2s;
        &:hover {
          opacity: 1;
          transform: translateX(3px);
        }
      }
    }
  }
  .sidebar_footer {
    font-size: 12px;
  }
}