.user_profile {
    padding-top: 50px;
    display: flex;
    gap: 35px;
    @media (max-width:768px) {
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .user_image {
        img {
            width: 150px;
            height: 150px;
            border-radius: 16px;
        }
    }
}

.user_info {
    background-color: rgba($color: #000000, $alpha: .1);
    padding: 20px 50px;
    border-radius: 16px;

}

.user_info__hobbies {
    display: flex;
    gap: 4px;
}

.user_info__name {
    font-weight: bold;
    font-size: 20px;
}

.edit_button {
    display: flex;
    max-width: 175px;
    padding: 5px 10px;
    border-radius: 16px;
    gap: 10px;
    margin-top: 15px;
    background-color: rgba($color: #000000, $alpha: .1);
    transition: .2s;
    &:hover {
        transform: translateY(-1px);
        background-color: #FCDF00;
    }
}